<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
 <beans>

	<bean id="tokenJob" class="cn.sh.ideal.job.TokenJob"/>
	<!-- 调用对象 -->
	<bean id="synTokenJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
								  
		<property name="targetObject">
			<ref bean="tokenJob" />
		</property>
		<property name="targetMethod" value="getAccessToken" />
		<property name="concurrent" value="false"/>
	</bean>
	<!-- 触发执行时间 -->
	<bean id="synTokenJobTimeTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
<!-- 											 org.springframework.scheduling.quartz.CronTriggerBean -->
		<property name="jobDetail">
			<ref bean="synTokenJob" />
		</property>
		<property name="cronExpression">
			<value>0 0/2 9 * * ?</value>
		</property>
	</bean>

	
	<!-- Spring触发工厂 -->
	<!-- ************************* Spring触发工厂 启动定时器******************-->
	<bean id="startAllQuartzJobQuertz" lazy-init="false" autowire="no" 
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
		<property name="triggers">
			<list>
				<ref bean="synTokenJobTimeTrigger" />
			</list>
		</property>
	</bean>
</beans>