<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.ContentDao">
  <resultMap type="cn.sh.ideal.bean.ContentInfo" id="BaseResultMap">
  
    <result column="KL_ID" jdbcType="VARCHAR" property="klId" />
    <result column="KL_CONTENT_TITLE" jdbcType="VARCHAR" property="klContentTitle" />
    <result column="KL_CONTENT" jdbcType="VARCHAR" property="klContent" />
    <result column="KL_CONTENT_SOURCES" jdbcType="VARCHAR" property="klContentSources" />
    <result column="POLICY_NO" jdbcType="VARCHAR" property="policyNo" />
    <result column="ENFORCE_TIME" jdbcType="VARCHAR" property="enforceTime" />
    <result column="INFO_TYPE" jdbcType="VARCHAR" property="infoType" />
  </resultMap>
  
  
  <select id="getContentInfo" resultMap="BaseResultMap" >
  		select KL_ID,KL_CONTENT_TITLE, KL_CONTENT,POLICY_NO,ENFORCE_TIME ,
  			   (select T.STRU_NAME from SYS_STRU T where T.AUTO_ID = KL_CONTENT_SOURCES) as KL_CONTENT_SOURCES,
  		       '1'  INFO_TYPE
  		  from kl_content_info kci 
  		 where kci.kl_id =  #{contentId}
  </select>
  
  <select id="getContentInfoTemplateType" resultType="map" >
  		select KL_ID ,KL_CONTENT_TITLE, TEMPLATE_TYPE, KL_CONTENT_TYPE
  		  from kl_content_info kci 
  		 where kci.kl_id =  #{contentId}
  </select>
  
  
  <resultMap type="cn.sh.ideal.bean.ContentFile" id="contentFileMap">
  	<result column="kl_file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="kl_file_path" jdbcType="VARCHAR" property="fileUrl" />
  </resultMap>


  <select id="getContentFileByContentId" resultMap="contentFileMap" >
  		select ll.kl_file_name,ll.kl_file_path 
  		  from kl_content_file_info ll 
  		 where ll.kl_content_id = #{contentId} 
  		   and ll.kl_file_is_del = '0'
  </select>
  
  
  
   <select id="getQuestionAnswerInfo" resultType="cn.sh.ideal.bean.QuestionAnswerInfo" >
		select klId, klContentSources, questionAnswerInfoId, question, answerInfo
		  from (
		         
		         select kci.kl_id klId,
		                 (select T.STRU_NAME  from SYS_STRU T where T.AUTO_ID = KL_CONTENT_SOURCES) klContentSources,
		                 tqa.t_question_answer_id questionAnswerInfoId,
		                 tqa.tqa_question question,
		                 tqa.tqa_answer answerInfo,
		                 tqa.tqa_order orderNum,
		                 thl.thl_order thl_sort_order
		                 
		           from (select * from t_hotword_linkinfo
		                   where thl_infotype = '1'
		                     <trim prefix="and (" suffix=")">
		                     	<if test='type != null and type == "5"'>
		                     	<!-- 如果是关联热词的id，应去除thl_hotsortid = 0 条件 -->
		                     		<if test='optionId == null or optionId == ""'>
		                         (thl_hotwordid = #{hotWordId} and thl_hotsortid = '0') 
		                         or   
		                         thl_hotwordid in (select thl_hotword_pid from t_hotword_link thl where thl_hotword_id = #{hotWordId})
		                         	</if>
		                         	<if test='optionId != null and optionId != ""'>
		                         		 thl_hotwordid = #{optionId}
		                         	</if>
		                         </if>
		                         
		                         <if test='type != null and type == "4"'>
		                         thl_hotwordid = #{hotWordId}
		                         	<if test='optionId != null and optionId != ""'>
		                         		and thl_hotsortid = #{optionId}
		                         	</if>
		                         </if>
		                       </trim>
		                     and thl_syn_state = '1'
		                     and thl_del_flag != '1'
		                     
		                         
		                 ) thl,
		                 kl_content_info kci,
		                 t_question_answer tqa,
		                 t_hotword_questionanswer_syn thqs
		                 
		          where  thl.thl_infoid = kci.kl_id
		          and kci.kl_id = tqa.tqa_content_id
			   	  and kci.kl_content_ispublic = '1'
		          and tqa.tqa_isdel != '1'
		          and tqa.t_question_answer_id = thqs.thqs_questionanswer_id 
		          and thqs.thqs_hotword_id = thl.thl_hotwordid
		          and thqs.thqs_hotsort_id = thl.thl_hotsortid
		          and thqs.thqs_syn_state = '1'
		         ) t 
		         <trim prefix="where" prefixOverrides="and |or">
					<if test='keyword != null and keyword != ""'>	
				   		and t.question like '%'||#{keyword}||'%'
				   </if>
				</trim>
		 order by thl_sort_order, t.orderNum
  </select>

<!-- 根据知识信息id查询问答类集锦信息 -->
  <select id="getQuestionAnswerInfos" resultType="cn.sh.ideal.bean.QuestionAnswerInfo" >
	  select tqa.tqa_content_id klId,
	  		 tqa.t_question_answer_id questionAnswerInfoId, 
	  		 tqa.tqa_question question
	    from t_question_answer tqa
	   where tqa.tqa_content_id = #{contentId}
	     and tqa.tqa_isdel = '0'
	    
		<if test='keyword != null and keyword != ""'>
		 and tqa.tqa_question like '%'||#{keyword}||'%'
		</if>
	order by tqa.tqa_order
  </select>
  
  <!-- 查询单条集锦类信息 -->
  <select id="getQuestionAnswerInfoById" resultType="cn.sh.ideal.bean.QuestionAnswerInfo" >
	  select tqa.tqa_content_id klId,
	  		 tqa.t_question_answer_id questionAnswerInfoId, 
	  		 tqa.tqa_question question,
	  		 tqa.tqa_answer answerInfo
	    from t_question_answer tqa
	   where tqa.t_question_answer_id = #{questionAnswerInfoId}
  </select>

	<select id="hotRankTop10" resultMap="BaseResultMap" >
		<![CDATA[
			select kl_id, kl_content_title, '1' INFO_TYPE
			  from (select twrh.twrh_content_id kl_id,
						   twrh.twrh_content_title kl_content_title,
						   (select kl_content_type
							  from kl_content_info
							 where kl_id = twrh.twrh_content_id) kl_content_type,
						   0 clickCount,
						   twrh.twrh_content_sort sortNum
					  from t_web_rankings_hot twrh
					 where twrh.twrh_content_delflag = '0'
					   and twrh.twrh_content_type = '1'

					union
					select kci.kl_id,
						   kci.kl_content_title,
						   kci.kl_content_type,
						   case when a.clickCount is null then  0 else  a.clickCount end clickCount,
						   500000 sortNum
					  from kl_content_info kci,
						   (select infoId, count(infoId) clickCount
							  from (select tpac.tpac_info_id infoId
									  from t_policy_app_click tpac
									 where tpac.tpac_info_type = '1'
									   and tpac.tpac_click_type in ('2', '1')
									union all
									select tsac.tsac_info_id infoId
									  from t_search_app_click tsac
									 where tsac.tsac_info_type = '1'
									   and tsac.tsac_click_type in ('1', '2')
									union all
									select tfac.tfac_info_id infoId
									  from t_focus_app_click tfac
									 where tfac.tfac_info_type = '1'
									   and tfac.tfac_click_type = '2'
									union all
									select thac.thac_info_id infoId
									  from t_hotword_app_click thac
									 where thac.thac_info_type = '1'
									   and thac.thac_click_type = '2')
							 where not EXISTS
							 (select (1)
									  from t_web_rankings_hot twrh
									 where twrh.twrh_content_delflag = '0'
									   and twrh.twrh_content_type = '2'
									   and twrh.twrh_content_id = infoId)
							 group by infoId) A
					 where kci.kl_id = A.infoId
					   and kci.kl_content_ispublic = '1'
					 order by sortNum asc, clickCount desc)
			 where rownum < 11
		]]>
	</select>
</mapper>




