<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.HotWordDao">
  <resultMap type="cn.sh.ideal.bean.HotWord" id="BaseResultMap">
    <result property="klId" column="t_hot_word_id"  />
    <result property="name" column="thw_name" />
    <result property="typeLevel1" column="thw_type_level1" />
    <result property="typeLevel2" column="thw_type_level2" />
    <result property="type" column="thw_type" />
    <result property="sort1" column="thw_sort1" />
    <result property="sort2" column="thw_sort2" />
	<result property="webColumnTitle" column="thw_webcolumntitle" />
  </resultMap>
  <!-- select thw.t_hot_word_id,thw.thw_name,thw.thw_type_level2,thw_type,thw_sort1,thw_sort2 -->
  <select id="queryHotWordListByMap" resultMap="BaseResultMap" >
			select thw.t_hot_word_id,thw.thw_name,thw_type,thw_type_level2,thw_webcolumntitle
			  from t_hot_word thw
			 where thw.thw_del_flag = '0'
			   and thw.thw_onlinetime <![CDATA[<]]> sysdate
			   and thw.thw_offlinetime <![CDATA[>]]> sysdate
			   and thw.thw_onlinetime_web <![CDATA[<]]> sysdate
			   and thw.thw_syn_state = '1'
			   and thw.thw_isshow = '1'
			   <if test='typeLevel1 != null and typeLevel1 eq "zxcx"'>
			   and thw.thw_type_level1 like '%'||#{typeLevel1}||'%'
			   </if>
			   <if test='typeLevel1 != null and typeLevel1 eq "mszl"'>
			   and thw.thw_type_level1 like '%'||#{typeLevel1}||'%'
			   </if>
			   
			 <if test='typeLevel1 != null and typeLevel1 eq "zxcx"'>
			   order by thw.thw_sort1
			 </if>
			 <if test='typeLevel1 != null and typeLevel1 eq "mszl"'>
			   order by thw.thw_sort2
			 </if>
  </select>
  
  <select id="queryLinkHotWordByMap" resultMap="BaseResultMap" >
			select thw.t_hot_word_id,thw.thw_name,thw.thw_type,thw.thw_type_level2,thw.thw_webcolumntitle
			  from t_hotword_link thl,t_hot_word thw
			 where thl.thl_hotword_pid = thw.t_hot_word_id(+)
			   and thl.thl_hotword_id = #{hotWordId}
			   and thw.thw_del_flag = '0'
			   and thw.thw_syn_state = '1'
			   and thw.thw_onlinetime <![CDATA[<]]> sysdate
			   and thw.thw_offlinetime <![CDATA[>]]> sysdate
			   and thw.thw_onlinetime_web <![CDATA[<]]> sysdate	   
			 order by THL_ORDER
  </select>

</mapper>




