<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.HotWordSubOptionDao">
  <resultMap type="cn.sh.ideal.bean.HotWordSubOption" id="BaseResultMap">
    <result property="hotWordId" column="ths_hotwordid"  />
    <result property="optionId" column="t_hot_word_id"  />
    <result property="optionName" column="thw_name" />
    <result property="optionType" column="thw_type_level1" />
	<result property="webColumnTitle" column="thw_webcolumntitle" />
  </resultMap>
  
  <!-- 查询该热词关联的热词集合 -->
  <select id="queryLinkHotWordByMap" resultMap="BaseResultMap" >
		select thl.thl_hotword_id hotWordId ,thl.thl_hotword_pid optionId,thw.thw_name optionName,
			'5' optionType,thw.thw_webcolumntitle webColumnTitle
			<!-- (select thw_type from t_hot_word  where t_hot_word_id = thl_hotword_pid) optionType -->
		  from t_hotword_link thl,t_hot_word thw
		 where thl.thl_hotword_pid = thw.t_hot_word_id(+)
		   and thl.thl_hotword_id = #{hotWordId}
		   and thw.thw_del_flag = '0'
		   and thw.thw_syn_state = '1'
		   and thw.thw_onlinetime <![CDATA[<]]> sysdate
		   and thw.thw_offlinetime <![CDATA[>]]> sysdate
		   and thw.thw_onlinetime_web <![CDATA[<]]> sysdate	   
		 order by THL_ORDER
  </select>
  
  <!-- 查询该热词下分类集合 -->
  <select id="queryHotWordSortsByMap" resultMap="BaseResultMap" >
		select ths.ths_hotwordid hotWordId,ths.t_hotword_sort_id optionId,ths.ths_sort_name optionName,'4' optionType,'' webColumnTitle
		  from T_HOTWORD_SORT ths
		 where ths.ths_hotwordid = #{hotWordId}
		   and ths.ths_del_flag = '0'
		   and ths.ths_syn_state = '1'
		 order by THS_SORT_ORDER
  </select>
  
</mapper>




