<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.WeChatDao">
  <resultMap type="cn.sh.ideal.bean.JsapiTicket" id="JsapiTicketBaseResultMap">
  	<result column="T_WECHAT_CONFIG_ID" jdbcType="VARCHAR" property="klId" />
	<result column="TWC_APP_ID" jdbcType="VARCHAR" property="appId" />
	<result column="TWC_APPSECRET" jdbcType="VARCHAR" property="appsecret" />
	<result column="TWC_TYPE" jdbcType="VARCHAR" property="grant_type" />
	<result column="TWC_ACCESS_TOKEN" jdbcType="VARCHAR" property="access_token" />
	<result column="TWC_TICKET" jdbcType="VARCHAR" property="ticket" />
	<result column="TWC_EXPIRES_DATE" jdbcType="TIMESTAMP" property="expires_date" />
	<result column="TWC_EXPIRES_IN" jdbcType="INTEGER" property="expires_in" />
  </resultMap>
  
  <resultMap type="cn.sh.ideal.bean.AccessToken" id="AccessTokenBaseResultMap">
  	<result column="T_WECHAT_CONFIG_ID" jdbcType="VARCHAR" property="klId" />
	<result column="TWC_APP_ID" jdbcType="VARCHAR" property="appId" />
	<result column="TWC_APPSECRET" jdbcType="VARCHAR" property="appsecret" />
	<result column="TWC_TYPE" jdbcType="VARCHAR" property="grant_type" />
	<result column="TWC_ACCESS_TOKEN" jdbcType="VARCHAR" property="access_token" />
	<result column="TWC_EXPIRES_DATE" jdbcType="TIMESTAMP" property="expires_date" />
	<result column="TWC_EXPIRES_IN" jdbcType="INTEGER" property="expires_in" />
  </resultMap>
  
  
  <sql id="query_column">
  		T_WECHAT_CONFIG_ID,TWC_APP_ID,TWC_APPSECRET,TWC_TYPE,TWC_ACCESS_TOKEN,TWC_EXPIRES_DATE,TWC_EXPIRES_IN
  </sql>
  
  <select id="getJsapiTicket" resultMap="JsapiTicketBaseResultMap" >
		select <include refid="query_column"/>,TWC_TICKET 
		  from T_WECHAT_CONFIG 
		 where TWC_APP_ID = #{appId,jdbcType=INTEGER}
		   and TWC_TYPE = 'jsapi'
  </select>
  
  <select id="getAccessToken" resultMap="AccessTokenBaseResultMap" >
		select <include refid="query_column"/>
		  from T_WECHAT_CONFIG 
		 where TWC_APP_ID = #{appId,jdbcType=INTEGER}
		   and TWC_TYPE = 'client_credential'
  </select>
  
  
  	<!-- 新增 -->
	<insert id="saveJsapiTicket" parameterType="cn.sh.ideal.bean.JsapiTicket">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="klId">
			select SEQ_T_WECHAT_CONFIG.nextval from dual  
    	</selectKey>
		insert into T_WECHAT_CONFIG(
				T_WECHAT_CONFIG_ID,
					<if test="appId!= null and appId != ''">TWC_APP_ID,</if>
					<if test="appsecret!= null and appsecret != ''">TWC_APPSECRET,</if>
					<if test="grant_type!= null and grant_type != ''">TWC_TYPE,</if>
					<if test="access_token!= null and access_token != ''">TWC_ACCESS_TOKEN,</if>
					<if test="ticket!= null and ticket != ''">TWC_TICKET,</if>
					<if test="expires_date!= null and expires_date != ''">TWC_EXPIRES_DATE,</if>
					<if test="expires_in!= null and expires_in != ''">TWC_EXPIRES_IN,</if>
				TWC_CREATE_TIME,
				TWC_UPDATE_TIME
				) 
					
				values (#{klId},
					<if test="appId != null and appId != ''">#{appId,jdbcType=VARCHAR},</if>
					<if test="appsecret != null and appsecret != ''">#{appsecret,jdbcType=VARCHAR},</if>
					<if test="grant_type != null and grant_type != ''">#{grant_type,jdbcType=VARCHAR},</if>
					<if test="access_token != null and access_token != ''">#{access_token,jdbcType=VARCHAR},</if>
					<if test="ticket != null and ticket != ''">#{ticket,jdbcType=VARCHAR},</if>
					<if test="expires_date != null and expires_date != ''">#{expires_date,jdbcType=TIMESTAMP},</if>
					<if test="expires_in != null and expires_in != ''">#{expires_in,jdbcType=INTEGER},</if>
				sysdate,sysdate
				)
	</insert>
	
	<!-- 新增 -->
	<insert id="saveAccessToken" parameterType="cn.sh.ideal.bean.AccessToken">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="klId">
			select SEQ_T_WECHAT_CONFIG.nextval from dual  
    	</selectKey>
		insert into T_WECHAT_CONFIG(
				T_WECHAT_CONFIG_ID,
					<if test="appId!= null and appId != ''">TWC_APP_ID,</if>
					<if test="appsecret!= null and appsecret != ''">TWC_APPSECRET,</if>
					<if test="grant_type!= null and grant_type != ''">TWC_TYPE,</if>
					<if test="access_token!= null and access_token != ''">TWC_ACCESS_TOKEN,</if>
					<if test="expires_date!= null and expires_date != ''">TWC_EXPIRES_DATE,</if>
					<if test="expires_in!= null and expires_in != ''">TWC_EXPIRES_IN,</if>
				TWC_CREATE_TIME,
				TWC_UPDATE_TIME
				) 
					
				values (#{klId},
					<if test="appId != null and appId != ''">#{appId,jdbcType=VARCHAR},</if>
					<if test="appsecret != null and appsecret != ''">#{appsecret,jdbcType=VARCHAR},</if>
					<if test="grant_type != null and grant_type != ''">#{grant_type,jdbcType=VARCHAR},</if>
					<if test="access_token != null and access_token != ''">#{access_token,jdbcType=VARCHAR},</if>
					<if test="expires_date != null and expires_date != ''">#{expires_date,jdbcType=TIMESTAMP},</if>
					<if test="expires_in != null and expires_in != ''">#{expires_in,jdbcType=INTEGER},</if>
				sysdate,sysdate
				)
	</insert>
	
	<update id="updateJsapiTicket" parameterType="cn.sh.ideal.bean.JsapiTicket" >
	 update T_WECHAT_CONFIG set
			TWC_APP_ID = #{appId,jdbcType=VARCHAR},
			TWC_APPSECRET = #{appsecret,jdbcType=VARCHAR},
			TWC_TYPE = #{grant_type,jdbcType=VARCHAR},
			TWC_ACCESS_TOKEN = #{access_token,jdbcType=VARCHAR},
			TWC_TICKET = #{ticket,jdbcType=VARCHAR},
			TWC_EXPIRES_DATE = #{expires_date,jdbcType=TIMESTAMP},
			TWC_EXPIRES_IN = #{expires_in,jdbcType=INTEGER},
			TWC_UPDATE_TIME = sysdate
	  where T_WECHAT_CONFIG_ID = #{klId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateAccessToken" parameterType="cn.sh.ideal.bean.AccessToken">
	 update T_WECHAT_CONFIG set
			TWC_APP_ID = #{appId,jdbcType=VARCHAR},
			TWC_APPSECRET = #{appsecret,jdbcType=VARCHAR},
			TWC_TYPE = #{grant_type,jdbcType=VARCHAR},
			TWC_ACCESS_TOKEN = #{access_token,jdbcType=VARCHAR},
			TWC_EXPIRES_DATE = #{expires_date,jdbcType=TIMESTAMP},
			TWC_EXPIRES_IN = #{expires_in,jdbcType=INTEGER},
			TWC_UPDATE_TIME = sysdate
	  where T_WECHAT_CONFIG_ID = #{klId,jdbcType=VARCHAR}
	</update>
  
  
  
  
  
  
  
  
  
  
  
</mapper>




